ul.header{
    list-style: none;
    font-size: 15px;    
    margin-bottom: 115px;
    padding-left: 0em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

header ul li img{
    width: 15%;
    align-content: center;
    margin-bottom: 20px;
}

header ul a li{
    margin-bottom: 10px;
}
   

header ul a{
    color: black;
    text-decoration: none;
    padding-top: 30px;
}

body{
    background-color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 footer {
     display: grid;
     grid-template-columns: 40% 60%;
 }



.lista-canciones {
    display: grid;
    width: 80%;
    grid-template-columns: 100% ;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    padding-inline-start: 25px;
    font-size: 25px;    
    list-style-type: none;
}

.lista-canciones li{
    padding-top: 30px;
    text-align: center;
}

.lista-canciones img{
    width: 60%;
    margin-bottom: 20px;
    margin-left: 40px;
}


.theWeekend img{
    width: 50%;
    border-radius: 50%;
    align-content: center;
    display: block;
    margin-bottom: 10px;
}


.justinBieber img{
    width: 50%;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.duaLipa img{
    width: 50%;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.topArtistas{
    padding-inline-start: 0px;
    text-align: center;
}

.topArtistas img{
    margin-left: 90px;
}

.topArtistas li{
    padding-bottom: 50px;
}

.top3{
    margin-top: 50px;
}


.lista-albums {
    display: grid;
    width: 80%;
    grid-template-columns: 100% ;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    padding-inline-start: 25px;
    font-size: 25px;
}

.imagenes-albums{
    width: 90%;
}

.lialbums {
    padding-top: 30px;
    list-style: none;
    text-align: center;
}

.top-tracks {
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: larger;
}


ol li.lista-canciones{
    margin-bottom: 30px;
}

.canciones {
    width: 70%;
    padding: 10%;
    margin: auto;
    display: block;
}

a {
    text-decoration: none;
    ;
    color: black;
}

@media (min-width: 600px){
    ul.header{
        display: grid;
        grid-template-columns: 15% 15% 15% 15%;
        justify-content: space-between;
    }

    header ul li img{
        width: 75%;
    }

    header ul a li{
        padding-top: 20px;
        font-size: 20px;
    }

    .topArtistas{
        display: grid;
        grid-template-columns: 20% 20% 20%;
        justify-content: space-between;
        list-style: none;
    }

    .topArtistas img{
        margin-left: 65px;
    }

    .top3{
        font-size: 20px;
    }

    .lista-albums{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-around;
        list-style: none;
        margin: auto;
    }

    .lista-albums img{
        margin-left: 65px;
    }

    .top3album{
        font-size: 20px;
    }

    .lialbums img{
        text-align: auto;
    }

    .lista-canciones {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;
        grid-template-rows: none;
        margin-bottom: 180px;
        width: 100%;

    }

    .top3tracks{
        font-size: 20px;
    }

    .lista-canciones img{
        width: 80%;
        margin-left: 0;
    }

    

}