ul.header{
    list-style: none;
    font-size: 15px;    
    margin-bottom: 115px;
    padding-left: 0em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

header ul li img{
    opacity: 0.3;
    width: 15%;
    align-content: center;
    margin-bottom: 20px;
}

header ul a li{
    margin-bottom: 10px;
}
   

header ul a{
    color: black;
    text-decoration: none;
    padding-top: 30px;
}

 footer {
     display: grid;
     grid-template-columns: 40% 60%;
 }



.lista-canciones {
    display: grid;
    width: 95%; 
    height: 300%;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(3,25%);
    justify-content: space-between 50px;   
}

.theWeekend img{
    width: 30%;
    border-radius: 50%;
    text-align: center;
    display: block;
   
}

.1 {
    grid-column: 2/3;
}

.2 {
    grid-column: 1/2;
}

.3 {

}

.lista-albums {
    display: grid;
    width: 90%;
    grid-template-columns: 100% ;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
}

.imagenes-albums{
    width: 90%;
}

.lialbums {
    padding-top: 30px;
    list-style: none;
}