ul.header{
    list-style: none;
    font-size: 15px;    
    margin-bottom: 115px;
    padding-left: 0em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    
}


header ul li img{
    width: 15%;
    align-content: center;
    margin-bottom: 20px;
}

header ul a li{
    margin-bottom: 10px;
    color: white;
}
   

header ul a{
    color: black;
    text-decoration: none;
    padding-top: 30px;
}

body{
    background-color: #1B1B1B;
}

main {
    font-family:'Montserrat', sans-serif;;
}

main h2 {

    text-align: left;
    color: white
}

main p {
    text-align: center;
}

main section {
    border-bottom: 2px solid white;
    padding: 10px;
    font-size: medium;
}

footer {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 50px;
}

footer p {
    color: white;
    font-family:'Montserrat', sans-serif;
}

.detalle {
    list-style-type: none;
}

.detalle b {
    display: none;
}


div ul.detalle li {
    color: gray;
}

.conteo {
   color: white;
   list-style-type: none;
}

.conteo a {
    text-decoration: none;
}



#foto-perfil {
    width: 100%;
}

main section article a {
    font-size: medium;
    color: white;
}

<<<<<<< HEAD
#coso{
    font-size: 500px;
}

=======
div b {
    font-family: 'Montserrat', sans-serif;;
    color: white;
    font-size: 30px;
}


>>>>>>> 24eb362be06a73fd6b40417bb36dd9daffa3700c
@media (min-width: 600px){

    ul.header{
        display: grid;
        grid-template-columns: 15% 15% 15% 15%;
        justify-content: space-between;
    }

    header ul li img{
        width: 75%;
    }

    header ul a li{
        padding-top: 20px;
        font-size: 20px;
    }

    .img-add-to-playlist{
        width: 20%;
    }

    .homefooter{
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        width: 30%;
        margin-top: 60px;
        margin-left: 950px
        
    }

    .homefooter img{
        width: 80%;
        padding-left: 20px;
    }

    .titulo-desktop {
        display: grid;
        grid-template-columns: 30% 70%;
        justify-content: space-around;
        margin-top: 20px;
    }

    #photo-perfil {
        border: 3px grey;
        place-content: left;
    }

    .detalle b {
        display: block;
    }

    .position b {
        display: none;
    }

    

}