/* MOBILE */

body{
    background-color: #1B1B1B;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
 }
 
 body a{
     color: white;
     text-decoration: none;
 }

 /* FOOTER */

footer {
    display: grid;
    grid-template-columns: 40% 60%;
}



 /* HEADER */

ul.header{
    list-style: none;
    font-size: 15px;    
    margin-bottom: 115px;
    padding-left: 0em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

header ul li img{
    width: 15%;
    align-content: center;
    margin-bottom: 20px;
    
}

header ul a li{
    margin-bottom: 10px;
}
   

header ul a{
    color: white;
    text-decoration: none;
    padding-top: 30px;
}



/* LISTADO GENEROS */

.listadoDeGeneros {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    width: 80%;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    font-size: 15px;    
    list-style-type: none;
}

.listadoDeGeneros li{
    padding-top: 10px;
    text-align: center;
    margin-bottom: 70px;
}

.listadoDeGeneros img{
    width: 60%;
    margin-bottom: 20px;
    margin-left: 40px;
}

ol li.listadoDeGeneros{
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.generos{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    border-width: 0 0 thin 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, .5);
    margin-left: 20px;
    margin-right: 20px;
}



 /* DESKTOP */

@media (min-width: 600px){
   
    /* FOOTER */

    .homefooter{
        display: grid;
        grid-template-columns: 45% 45%;
        width: 30%;
        margin-left: 950px;
    }

    .homefooter img{
        width: 80%;
        padding-left: 20px;
    }



    /*HEADER*/

    ul.header{
        display: grid;
        grid-template-columns: 15% 15% 15% 15%;
        justify-content: space-between;
        font-family: 'Roboto', sans-serif;
    }

    header ul li img {
        width: 75%;
    }

    header ul a li{
        padding-top: 20px;
        font-size: 20px;
        text-decoration: none;
    }



    /* LISTADO */
   
    .generos {
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        border-width: 0 0 thin 0;
        border-style: solid;
        border-color: rgba(255, 255, 255, .5);
        margin-left: 20px;
        margin-right: 20px;
    }

    .listadoDeGeneros {
        font-family: 'Roboto', sans-serif;
        display: grid;
        width: 100%;
        grid-template-columns: 20% 20% 20% 20% ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: space-around;
        font-size: 10px;    
        list-style-type: none;
    }
    
    .listadoDeGeneros li{
        padding-top: 10px;
        text-align: center;
        margin-bottom: 70px;
    }
    
    .listadoDeGeneros img{
        width: 60%;
        margin-bottom: 20px;
        margin-left: 40px;
    }
    
    ol li.listadoDeGeneros{
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
    }
  
}