ul.header{
    list-style: none;
    font-size: 15px;    
    margin-bottom: 115px;
    padding-left: 0em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

header ul li img{
    width: 15%;
    align-content: center;
    margin-bottom: 20px;
}

header ul a li{
    margin-bottom: 10px;
}
   

header ul a{
    color: white;
    text-decoration: none;
    padding-top: 30px;
}

body{
    background-color: #1B1B1B;
}

 

footer {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 40px;
}
footer p {
    color: white
}

main ul li{
    list-style-type: none;
    display: grid;
    width: 90%;
    grid-template-columns: 10% 60%;
    justify-content: space-around;   
    margin-bottom: 10px;
}

main ul{
    padding-inline-start: 0;
}

main ul li img{
    width: 100%;
}

div h2 {
    color: white;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

#foto-playlist {
    width: 75%;
    align-content: center;
}

h5 {
    align-self: right;
}


.cancionesFavs li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.cancionesFavs li {
    border-bottom: 2px solid white ;
}

@media (min-width: 600px){
    ul.header{
        display: grid;
        grid-template-columns: 15% 15% 15% 15%;
        justify-content: space-between;
    }

    header ul li img{
        width: 75%;
    }

    header ul a li{
        padding-top: 20px;
        font-size: 20px;
    }

    main ul li{
        font-size: 20px;
        margin-bottom: 40px;
    }

    main ul li .playlist{
        padding-top: 50px;
    }

    .homefooter{
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        width: 30%;
        margin-left: 950px
    }

    .homefooter img{
        width: 80%;
        padding-left: 20px;
    }

    .titulo {
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    h2 {
        text-decoration: underline;
    }
}